<a href="https://colab.research.google.com/github/gabrielgsv/ClinicaBack/blob/master/%5BMBA_ES_27%5D_Data_Engineering.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
!pip install pyspark

Requirement already satisfied: pyspark in /usr/local/lib/python3.10/dist-packages (3.5.3)
Requirement already satisfied: py4j==0.10.9.7 in /usr/local/lib/python3.10/dist-packages (from pyspark) (0.10.9.7)

In [ ]:
# Download dos datasets e arquivos de exemplos
!wget https://datasets-aulas.s3.amazonaws.com/cars.json
!wget https://datasets-aulas.s3.amazonaws.com/cidades.json
!wget https://datasets-aulas.s3.amazonaws.com/dados+cota%C3%A7%C3%B5es/BBDC4_10y.csv
!wget https://archive.ics.uci.edu/ml/machine-learning-databases/adult/adult.data
!wget https://datasets-aulas.s3.amazonaws.com/Players.csv
!wget https://datasets-aulas.s3.amazonaws.com/czech-financial-dataset-real-anonymized-transactions.zip
!wget https://raw.githubusercontent.com/spark-examples/pyspark-examples/master/resources/zipcodes.json
!unzip czech-financial-dataset-real-anonymized-transactions.zip

--2024-10-28 23:18:28--  https://datasets-aulas.s3.amazonaws.com/cars.json
Resolving datasets-aulas.s3.amazonaws.com (datasets-aulas.s3.amazonaws.com)... 52.217.234.241, 16.15.193.237, 52.216.130.115, ...
Connecting to datasets-aulas.s3.amazonaws.com (datasets-aulas.s3.amazonaws.com)|52.217.234.241|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 1580 (1.5K) [application/json]
Saving to: ‚Äòcars.json‚Äô

cars.json           100%[===================>]   1.54K  --.-KB/s    in 0s

2024-10-28 23:18:29 (42.8 MB/s) - ‚Äòcars.json‚Äô saved [1580/1580]

--2024-10-28 23:18:29--  https://datasets-aulas.s3.amazonaws.com/cidades.json
Resolving datasets-aulas.s3.amazonaws.com (datasets-aulas.s3.amazonaws.com)... 52.217.234.241, 16.15.193.237, 52.216.130.115, ...
Connecting to datasets-aulas.s3.amazonaws.com (datasets-aulas.s3.amazonaws.com)|52.217.234.241|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 6925 (6.8K) [application/json]
Saving to: ‚Äòcidades.json‚Äô

cidades.json        100%[===================>]   6.76K  --.-KB/s    in 0s

2024-10-28 23:18:29 (156 MB/s) - ‚Äòcidades.json‚Äô saved [6925/6925]

--2024-10-28 23:18:29--  https://datasets-aulas.s3.amazonaws.com/dados+cota%C3%A7%C3%B5es/BBDC4_10y.csv
Resolving datasets-aulas.s3.amazonaws.com (datasets-aulas.s3.amazonaws.com)... 52.217.234.241, 16.15.193.237, 52.216.130.115, ...
Connecting to datasets-aulas.s3.amazonaws.com (datasets-aulas.s3.amazonaws.com)|52.217.234.241|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 299951 (293K) [text/csv]
Saving to: ‚ÄòBBDC4_10y.csv‚Äô

BBDC4_10y.csv       100%[===================>] 292.92K  --.-KB/s    in 0.1s

2024-10-28 23:18:29 (2.51 MB/s) - ‚ÄòBBDC4_10y.csv‚Äô saved [299951/299951]

--2024-10-28 23:18:29--  https://archive.ics.uci.edu/ml/machine-learning-databases/adult/adult.data
Resolving archive.ics.uci.edu (archive.ics.uci.edu)... 128.195.10.252
Connecting to archive.ics.uci.edu (archive.ics.uci.edu)|128.195.10.252|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: unspecified
Saving to: ‚Äòadult.data‚Äô

adult.data              [      <=>           ]   3.79M  3.63MB/s    in 1.0s

2024-10-28 23:18:31 (3.63 MB/s) - ‚Äòadult.data‚Äô saved [3974305]

--2024-10-28 23:18:31--  https://datasets-aulas.s3.amazonaws.com/Players.csv
Resolving datasets-aulas.s3.amazonaws.com (datasets-aulas.s3.amazonaws.com)... 52.217.33.220, 52.216.49.113, 54.231.228.105, ...
Connecting to datasets-aulas.s3.amazonaws.com (datasets-aulas.s3.amazonaws.com)|52.217.33.220|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 281111 (275K) [text/csv]
Saving to: ‚ÄòPlayers.csv‚Äô

Players.csv         100%[===================>] 274.52K   499KB/s    in 0.6s

2024-10-28 23:18:32 (499 KB/s) - ‚ÄòPlayers.csv‚Äô saved [281111/281111]

--2024-10-28 23:18:32--  https://datasets-aulas.s3.amazonaws.com/czech-financial-dataset-real-anonymized-transactions.zip
Resolving datasets-aulas.s3.amazonaws.com (datasets-aulas.s3.amazonaws.com)... 52.217.33.220, 52.216.49.113, 54.231.228.105, ...
Connecting to datasets-aulas.s3.amazonaws.com (datasets-aulas.s3.amazonaws.com)|52.217.33.220|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 35693438 (34M) [application/zip]
Saving to: ‚Äòczech-financial-dataset-real-anonymized-transactions.zip‚Äô

czech-financial-dat 100%[===================>]  34.04M  38.6MB/s    in 0.9s

2024-10-28 23:18:33 (38.6 MB/s) - ‚Äòczech-financial-dataset-real-anonymized-transactions.zip‚Äô saved [35693438/35693438]

--2024-10-28 23:18:33--  https://raw.githubusercontent.com/spark-examples/pyspark-examples/master/resources/zipcodes.json
Resolving raw.githubusercontent.com (raw.githubusercontent.com)... 185.199.108.133, 185.199.109.133, 185.199.110.133, ...
Connecting to raw.githubusercontent.com (raw.githubusercontent.com)|185.199.108.133|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 7331 (7.2K) [text/plain]
Saving to: ‚Äòzipcodes.json‚Äô

zipcodes.json       100%[===================>]   7.16K  --.-KB/s    in 0s

2024-10-28 23:18:33 (51.2 MB/s) - ‚Äòzipcodes.json‚Äô saved [7331/7331]

Archive:  czech-financial-dataset-real-anonymized-transactions.zip
  inflating: lpetrocelli-czech-financial-dataset-real-anonymized-transactions/datapackage.json
  inflating: lpetrocelli-czech-financial-dataset-real-anonymized-transactions/data/account.csv
  inflating: lpetrocelli-czech-financial-dataset-real-anonymized-transactions/data/card.csv
  inflating: lpetrocelli-czech-financial-dataset-real-anonymized-transactions/data/client.csv
  inflating: lpetrocelli-czech-financial-dataset-real-anonymized-transactions/data/disp.csv
  inflating: lpetrocelli-czech-financial-dataset-real-anonymized-transactions/data/district.csv
  inflating: lpetrocelli-czech-financial-dataset-real-anonymized-transactions/data/loan.csv
  inflating: lpetrocelli-czech-financial-dataset-real-anonymized-transactions/data/order.csv
  inflating: lpetrocelli-czech-financial-dataset-real-anonymized-transactions/data/trans.csv
  inflating: lpetrocelli-czech-financial-dataset-real-anonymized-transactions/original/account.csv
  inflating: lpetrocelli-czech-financial-dataset-real-anonymized-transactions/original/card.csv
  inflating: lpetrocelli-czech-financial-dataset-real-anonymized-transactions/original/client.csv
  inflating: lpetrocelli-czech-financial-dataset-real-anonymized-transactions/original/data map.gif
  inflating: lpetrocelli-czech-financial-dataset-real-anonymized-transactions/original/disp.csv
  inflating: lpetrocelli-czech-financial-dataset-real-anonymized-transactions/original/district.csv
  inflating: lpetrocelli-czech-financial-dataset-real-anonymized-transactions/original/loan.csv
  inflating: lpetrocelli-czech-financial-dataset-real-anonymized-transactions/original/order.csv
  inflating: lpetrocelli-czech-financial-dataset-real-anonymized-transactions/original/trans.csv

\
# üë®‚Äçüî¨ Testando a instala√ß√£o
Agora, podemos importar **```SparkSession```** de **```pyspark.sql```** e criar uma **```SparkSession```**. **```SparkSession```** foi introduzido na vers√£o **Spark 2.0** e √© um ponto de entrada para a funcionalidade Spark subjacente para criar programaticamente **RDDs**, **DataFrames** e **DataSets**.

Voc√™ pode dar um nome √† sess√£o usando **```appName()```** e adicionando algumas configura√ß√µes com **```config()```** se desejar.

In [ ]:
from pyspark.sql import SparkSession

spark = SparkSession.builder\
        .master("local[2]")\
        .appName("Colab")\
        .config('spark.ui.port', '4050')\
        .getOrCreate()

spark

# SparkSession
Desde o Spark 2.0, o **```SparkSession```** se tornou um ponto de entrada para o PySpark trabalhar com **```RDD```** e **```DataFrame```**. Antes da vers√£o 2.0, o **```SparkContext```** costumava ser um ponto de entrada. O **```SparkSession```** √© uma classe combinada para todos os diferentes contextos que t√≠nhamos antes do lan√ßamento 2.0 ( **```SparkContext```**, **```StreamingContext```**, **```SQLContext```**, **```HiveContext```**, etc).

Para criar **```SparkSession```** programaticamente no PySpark, voc√™ precisa usar o m√©todo padr√£o do construtor **```builder()```**. O m√©todo **```getOrCreate()```** retorna um **```SparkSession```** j√° existente.; se n√£o existir, cria uma nova **```SparkSession```**.

**```master()```** ‚Äì Se voc√™ estiver executando no cluster, voc√™ precisar√° usar seu nome mestre como argumento para **```master()```**. Normalmente, ser√° **```yarn```** ou **```mesos```**, dependendo da configura√ß√£o do seu cluster. Use **```local[x]```** ao executar no modo **Standalone** onde **```x```** deve ser um valor inteiro e deve ser maior que **```0```**. Isso representa quantas parti√ß√µes ele deve criar ao usar um **```RDD```**, **```DataFrame```** ou **```Dataset```**. Idealmente, o valor **```x```** deve ser o n√∫mero de n√∫cleos de CPU que voc√™ possui.

**```appName()```** ‚Äì Usado para definir o nome do aplicativo.

**```getOrCreate()```** ‚Äì Retorna um objeto **```SparkSession```** se j√° existir e cria um novo se n√£o existir.

\
## Usando **```SparkConfig```**
Se voc√™ quiser definir algumas configura√ß√µes para **```SparkSession```**, use o m√©todo **```config()```**.

```python
spark = SparkSession.builder \
      .master("local[1]") \
      .appName("Exemplo") \
      .config("spark.some.config.option", "config-value") \
      .getOrCreate()
```

# Primeiro exemplo: Total de pa√≠ses distintos presentes no dataset
üá®üá∫ üáÆüá≥ üá≤üáΩ üáøüá¶ üáµüá∑ üá≠üá≥ üè¥Û†ÅßÛ†Å¢Û†Å•Û†ÅÆÛ†ÅßÛ†Åø üá®üá¶ üá©üá™ üáÆüá∑ üáÆüáπ üáµüá± üá®üá¥ üá∞üá≠ üáπüá≠ üá±üá¶ üá≠üáπ üá¨üáπ üáµüá™ üè¥Û†ÅßÛ†Å¢Û†Å≥Û†Å£Û†Å¥Û†Åø üáπüáπ üá¨üá∑ üá≥üáÆ üá≥üá± üá∫üá∏ üáØüá≤ üáµüá≠ üá™üá® üáπüáº üáµüáπ üá©üá¥ üá∏üáª üá´üá∑ üá®üá≥ üáØüáµ üá≠üá∑üá∏üáÆüá≤üá∞üáßüá¶üá≤üá™ üá¨üá∫ üáªüá≥ üá≠üá∞ üáÆüá™ üá≠üá∫

In [ ]:
from pyspark import SparkConf, SparkContext

# Configura√ß√£o do Spark
spark = SparkSession.builder\
        .master("local[2]")\
        .appName("Total de pa√≠ses distintos presentes no dataset")\
        .config('spark.ui.port', '4050')\
        .getOrCreate()

# Carrega o conjunto de dados a partir do arquivo CSV
adultDatasetRDD = spark.sparkContext.textFile("adult.data")

# Divide cada linha do conjunto de dados por v√≠rgula, removendo linhas vazias
splitAdultDatasetRDD = adultDatasetRDD.filter(lambda linha: linha != '').map(lambda linha: linha.split(","))

# Seleciona a coluna correspondente ao pa√≠s (√≠ndice 13) e obt√©m valores distintos
paises = splitAdultDatasetRDD.map(lambda linha: linha[13]).distinct()

# Conta a quantidade de pa√≠ses distintos
count_paises = paises.count()

# Coleta os pa√≠ses distintos como uma lista
paises_list = paises.collect()

# Imprime o resultado
print(f"Quantidade de pa√≠ses distintos: {count_paises}")
print("Pa√≠ses distintos:", paises_list)

Quantidade de pa√≠ses distintos: 42
Pa√≠ses distintos: [' Cuba', ' India', ' Mexico', ' South', ' Puerto-Rico', ' Honduras', ' England', ' Canada', ' Germany', ' Iran', ' Italy', ' Poland', ' Columbia', ' Cambodia', ' Thailand', ' Laos', ' Haiti', ' Guatemala', ' Peru', ' Scotland', ' Trinadad&Tobago', ' Greece', ' Nicaragua', ' Holand-Netherlands', ' United-States', ' Jamaica', ' ?', ' Philippines', ' Ecuador', ' Taiwan', ' Portugal', ' Dominican-Republic', ' El-Salvador', ' France', ' China', ' Japan', ' Yugoslavia', ' Outlying-US(Guam-USVI-etc)', ' Vietnam', ' Hong', ' Ireland', ' Hungary']

\
# Dataframes
O Apache Spark **DataFrame** √© uma estrutura de dados tabular distribu√≠da, oferecendo uma interface de alto n√≠vel para manipula√ß√£o eficiente de grandes conjuntos de dados. Inspirado pela simplicidade das tabelas em bancos de dados relacionais, o DataFrame do Spark simplifica opera√ß√µes complexas, permitindo an√°lises poderosas em ambientes distribu√≠dos.

Sua abstra√ß√£o intuitiva facilita a execu√ß√£o de transforma√ß√µes e consultas SQL, proporcionando flexibilidade e desempenho otimizado para processamento de dados em escala. Com suporte a diversas fontes de dados e integra√ß√£o perfeita com o ecossistema Spark, o DataFrame se tornou uma ferramenta fundamental para cientistas de dados e engenheiros de dados na constru√ß√£o de pipelines de an√°lise robustos e eficientes.

Defini√ß√£o de um [DataFrame](https://www.databricks.com/blog/2015/02/17/introducing-dataframes-in-spark-for-large-scale-data-science.html) pela Databricks:
> DataFrame √© uma cole√ß√£o distribu√≠da de dados organizados em colunas nomeadas. √â conceitualmente equivalente a uma tabela em um banco de dados relacional ou a um quadro de dados em R/Python, mas com otimiza√ß√µes mais ricas nos bastidores. DataFrames podem ser constru√≠dos a partir de uma ampla variedade de fontes, como arquivos de dados estruturados, tabelas no Hive, bancos de dados externos ou RDDs existentes. ‚Äì Databricks

\
## Criando um DataFrame
A maneira mais simples de criar um DataFrame √© a partir de uma lista de dados Python. O DataFrame tamb√©m pode ser criado a partir de um RDD e lendo arquivos de diversas fontes.

In [ ]:
dados = [('Jo√£o','','Silva','1991-04-01','M',3000),
  ('Miguel','Ribeiro','','2000-05-19','M',4000),
  ('Roberto','','Ferreira','1978-09-05','M',4000),
  ('Maria','Ana','Oliveira','1967-12-01','F',4000),
  ('J√©ssica','Mariana','Brito','1980-02-17','F',-1)
]

columns = ["primeiro_nome","nome_meio","sobrenome","data_nascimento","genero","salario"]
df = spark.createDataFrame(data=dados, schema = columns)

In [ ]:
df.show()

+-------------+---------+---------+---------------+------+-------+
|primeiro_nome|nome_meio|sobrenome|data_nascimento|genero|salario|
+-------------+---------+---------+---------------+------+-------+
|         Jo√£o|         |    Silva|     1991-04-01|     M|   3000|
|       Miguel|  Ribeiro|         |     2000-05-19|     M|   4000|
|      Roberto|         | Ferreira|     1978-09-05|     M|   4000|
|        Maria|      Ana| Oliveira|     1967-12-01|     F|   4000|
|      J√©ssica|  Mariana|    Brito|     1980-02-17|     F|     -1|
+-------------+---------+---------+---------------+------+-------+

\
## Lendo um arquivo CSV no DataFrame
PySpark fornece **```csv("path")```** no DataFrameReader para ler um arquivo CSV no PySpark DataFrame e **```dataframeObj.write.csv("path")```** para salvar ou gravar no arquivo CSV.

Este exemplo l√™ os dados nas colunas DataFrame **```_c0```** para a primeira coluna e **```_c1```** para a segunda e assim por diante. e por padr√£o o tipo de dados para todas essas colunas √© tratado como String.

In [ ]:
spark = SparkSession.builder\
        .master("local[2]")\
        .appName("Lendo um arquivo CSV no DataFrame")\
        .config('spark.ui.port', '4050')\
        .getOrCreate()

df = spark.read.csv("BBDC4_10y.csv")
df.printSchema()

root
 |-- _c0: string (nullable = true)
 |-- _c1: string (nullable = true)
 |-- _c2: string (nullable = true)
 |-- _c3: string (nullable = true)
 |-- _c4: string (nullable = true)
 |-- _c5: string (nullable = true)
 |-- _c6: string (nullable = true)
 |-- _c7: string (nullable = true)
 |-- _c8: string (nullable = true)

In [ ]:
df.show()

+----------+------------------+------------------+------------------+------------------+------------------+--------+---------+------------+
|       _c0|               _c1|               _c2|               _c3|               _c4|               _c5|     _c6|      _c7|         _c8|
+----------+------------------+------------------+------------------+------------------+------------------+--------+---------+------------+
|      Date|              Open|              High|               Low|             Close|         Adj Close|  Volume|Dividends|Stock Splits|
|2013-11-21|11.936270713806152|12.002909660339355|11.850031852722168|11.955870628356934| 7.617593288421631|15586647|      0.0|         0.0|
|2013-11-22|11.838272094726562|12.049949645996094|11.556035041809082|11.877471923828125| 7.567643165588379|30884260|      0.0|         0.0|
|2013-11-25|11.916670799255371|11.951951026916504|11.591315269470215| 11.77163314819336| 7.500205039978027|17439983|      0.0|         0.0|
|2013-11-26| 11.69323444366455|12.104828834533691| 11.63443374633789|11.720672607421875| 7.467736721038818|26836513|      0.0|         0.0|
|2013-11-27|11.752033233642578|12.089150428771973|11.752033233642578|11.995071411132812|7.6425700187683105|20696140|      0.0|         0.0|
|2013-11-28| 12.07738971710205|  12.1832275390625|11.881391525268555|12.034270286560059| 7.667546272277832|10971546|      0.0|         0.0|
|2013-11-29|12.034270286560059|12.167549133300781|11.991150856018066| 12.15186882019043| 7.742466926574707|15718536|      0.0|         0.0|
|2013-12-02|11.995071411132812|12.222428321838379|11.799073219299316|11.881391525268555|7.5701422691345215|30802116|      0.0|         0.0|
|2013-12-03|11.763792991638184|11.850031852722168|11.497236251831055| 11.60699462890625| 7.400361061096191|19973429| 0.008114|         0.0|
|2013-12-04|11.661873817443848| 11.69715404510498|11.387476921081543|11.454115867614746|7.3028950691223145|21362984|      0.0|         0.0|
|2013-12-05|11.661873817443848| 11.69715404510498|11.289478302001953|11.375717163085938|  7.25290060043335|27727849|      0.0|         0.0|
|2013-12-06|11.461956024169922| 11.50507640838623|11.262038230895996|11.367877006530762|7.2479071617126465|22152789|      0.0|         0.0|
|2013-12-09|11.367877006530762|11.481555938720703|11.277717590332031|11.422757148742676|  7.28289794921875|15305266|      0.0|         0.0|
|2013-12-10|11.367877006530762|11.399236679077148|11.262038230895996|11.285557746887207| 7.195419788360596|13179478|      0.0|         0.0|
|2013-12-11|11.305157661437988|11.312997817993164|11.003320693969727| 11.03860092163086| 7.037967205047607|17765752|      0.0|         0.0|
|2013-12-12|11.089559555053711|11.156200408935547|10.897481918334961| 11.13267993927002| 7.097955226898193|22719376|      0.0|         0.0|
|2013-12-13|11.171878814697266|11.262038230895996|11.089559555053711|11.183638572692871| 7.130437850952148|18547903|      0.0|         0.0|
|2013-12-16|11.195399284362793|11.340437889099121|11.124839782714844| 11.25811767578125| 7.177923202514648|20522924|      0.0|         0.0|
|2013-12-17|11.269878387451172|11.340437889099121|11.191478729248047|11.242439270019531| 7.167929649353027|20344606|      0.0|         0.0|
+----------+------------------+------------------+------------------+------------------+------------------+--------+---------+------------+
only showing top 20 rows

In [ ]:
df = spark.read.option('header', True).csv("BBDC4_10y.csv")
df.printSchema()

root
 |-- Date: string (nullable = true)
 |-- Open: string (nullable = true)
 |-- High: string (nullable = true)
 |-- Low: string (nullable = true)
 |-- Close: string (nullable = true)
 |-- Adj Close: string (nullable = true)
 |-- Volume: string (nullable = true)
 |-- Dividends: string (nullable = true)
 |-- Stock Splits: string (nullable = true)

In [ ]:
df.show()

+----------+------------------+------------------+------------------+------------------+------------------+--------+---------+------------+
|      Date|              Open|              High|               Low|             Close|         Adj Close|  Volume|Dividends|Stock Splits|
+----------+------------------+------------------+------------------+------------------+------------------+--------+---------+------------+
|2013-11-21|11.936270713806152|12.002909660339355|11.850031852722168|11.955870628356934| 7.617593288421631|15586647|      0.0|         0.0|
|2013-11-22|11.838272094726562|12.049949645996094|11.556035041809082|11.877471923828125| 7.567643165588379|30884260|      0.0|         0.0|
|2013-11-25|11.916670799255371|11.951951026916504|11.591315269470215| 11.77163314819336| 7.500205039978027|17439983|      0.0|         0.0|
|2013-11-26| 11.69323444366455|12.104828834533691| 11.63443374633789|11.720672607421875| 7.467736721038818|26836513|      0.0|         0.0|
|2013-11-27|11.752033233642578|12.089150428771973|11.752033233642578|11.995071411132812|7.6425700187683105|20696140|      0.0|         0.0|
|2013-11-28| 12.07738971710205|  12.1832275390625|11.881391525268555|12.034270286560059| 7.667546272277832|10971546|      0.0|         0.0|
|2013-11-29|12.034270286560059|12.167549133300781|11.991150856018066| 12.15186882019043| 7.742466926574707|15718536|      0.0|         0.0|
|2013-12-02|11.995071411132812|12.222428321838379|11.799073219299316|11.881391525268555|7.5701422691345215|30802116|      0.0|         0.0|
|2013-12-03|11.763792991638184|11.850031852722168|11.497236251831055| 11.60699462890625| 7.400361061096191|19973429| 0.008114|         0.0|
|2013-12-04|11.661873817443848| 11.69715404510498|11.387476921081543|11.454115867614746|7.3028950691223145|21362984|      0.0|         0.0|
|2013-12-05|11.661873817443848| 11.69715404510498|11.289478302001953|11.375717163085938|  7.25290060043335|27727849|      0.0|         0.0|
|2013-12-06|11.461956024169922| 11.50507640838623|11.262038230895996|11.367877006530762|7.2479071617126465|22152789|      0.0|         0.0|
|2013-12-09|11.367877006530762|11.481555938720703|11.277717590332031|11.422757148742676|  7.28289794921875|15305266|      0.0|         0.0|
|2013-12-10|11.367877006530762|11.399236679077148|11.262038230895996|11.285557746887207| 7.195419788360596|13179478|      0.0|         0.0|
|2013-12-11|11.305157661437988|11.312997817993164|11.003320693969727| 11.03860092163086| 7.037967205047607|17765752|      0.0|         0.0|
|2013-12-12|11.089559555053711|11.156200408935547|10.897481918334961| 11.13267993927002| 7.097955226898193|22719376|      0.0|         0.0|
|2013-12-13|11.171878814697266|11.262038230895996|11.089559555053711|11.183638572692871| 7.130437850952148|18547903|      0.0|         0.0|
|2013-12-16|11.195399284362793|11.340437889099121|11.124839782714844| 11.25811767578125| 7.177923202514648|20522924|      0.0|         0.0|
|2013-12-17|11.269878387451172|11.340437889099121|11.191478729248047|11.242439270019531| 7.167929649353027|20344606|      0.0|         0.0|
|2013-12-18|11.340437889099121|11.473715782165527|11.218918800354004|11.305157661437988| 7.207915782928467|22392842|      0.0|         0.0|
+----------+------------------+------------------+------------------+------------------+------------------+--------+---------+------------+
only showing top 20 rows

In [ ]:
df = spark.read.option('header', True).option('inferSchema', True).csv("BBDC4_10y.csv")
df.printSchema()

root
 |-- Date: date (nullable = true)
 |-- Open: double (nullable = true)
 |-- High: double (nullable = true)
 |-- Low: double (nullable = true)
 |-- Close: double (nullable = true)
 |-- Adj Close: double (nullable = true)
 |-- Volume: integer (nullable = true)
 |-- Dividends: double (nullable = true)
 |-- Stock Splits: double (nullable = true)

# Principais **transforma√ß√µes** e **a√ß√µes** dispon√≠veis no Apache Spark DataFrame
Depois de criar o DataFrame a partir do arquivo CSV, podemos aplicar todas as **transforma√ß√µes** e **a√ß√µes** de suporte ao DataFrame. Abaixo est√£o algumas das principais **transforma√ß√µes** e **a√ß√µes** dispon√≠veis no Apache Spark DataFrame.

\
## Transforma√ß√µes

\
**```select```**: Seleciona um conjunto espec√≠fico de colunas.

```python
df.select("coluna1", "coluna2")
```
\
**```filter```**: Filtra as linhas com base em uma condi√ß√£o.

```python
df.filter(df["coluna"] > 10)
```

\
**```groupBy```**: Agrupa o DataFrame por uma ou mais colunas.

```python
df.groupBy("coluna1").agg({"coluna2": "sum"})
```

\
**```withColumn```**: Adiciona ou substitui uma coluna.
```python
df.withColumn("nova_coluna", df["coluna"] * 2)
```

\
**```join```**: Realiza uma jun√ß√£o entre dois DataFrames.
```python
df1.join(df2, df1["coluna1"] == df2["coluna2"], "inner")
```

\
**```orderBy```**: Ordena o DataFrame com base em uma ou mais colunas.

```python
df.orderBy("coluna1", ascending=False)
```

\
**```drop```**: Remove uma coluna do DataFrame.
```python
df.drop("coluna")
```
\
**```distinct```**: Retorna as linhas distintas do DataFrame.
```python
df.distinct()
```
\
##A√ß√µes
\
**```show```**: Exibe as primeiras linhas do DataFrame.
```python
df.show()
```

\
**```count```**: Retorna o n√∫mero de linhas no DataFrame.
```python
df.count()
```

\
**```collect```**: Retorna todas as linhas do DataFrame como uma lista no programa driver.
```python
df.collect()
```

\
**```take```**: Retorna as primeiras **```n```** linhas do DataFrame.
```python
df.take(5)
```

\
**```describe```**: Calcula estat√≠sticas descritivas para colunas num√©ricas.
```python
df.describe("coluna1")
```

\
**```printSchema```**: Exibe o esquema do DataFrame.
```python
df.printSchema()
```

\
**```write```**: Escreve o DataFrame em fontes externas.
```python
df.write.format("parquet").save("caminho/do/arquivo")
```

\
**```save```**: Salva o DataFrame em um formato espec√≠fico (por exemplo, parquet, CSV).
```python
df.write.save("caminho/do/arquivo", format="parquet")
```

# üìö Exerc√≠cio: An√°lise de informa√ß√µes dos jogadores da NBA ‚õπÔ∏è
Responda as seguintes quest√µes a partir dos dados de jogadores da NBA [NBA Players stats since 1950](https://www.kaggle.com/datasets/drgilermo/nba-players-stats).

1. Qual a m√©dia de altura e de peso dos jogadores?
2. Crie uma nova coluna com o $IMC = \frac{peso}{altura¬≤}$.
3. Qual a maior altura, o maior peso, a menor altura e o menor peso?
4. Em qual estado americano nasceu o maior n√∫mero de jogadores?
5. Qual ou quais s√£o os jogadores mais altos?

In [ ]:
!head Players.csv

,Player,height,weight,collage,born,birth_city,birth_state
0,Curly Armstrong,180,77,Indiana University,1918,,
1,Cliff Barker,188,83,University of Kentucky,1921,Yorktown,Indiana
2,Leo Barnhorst,193,86,University of Notre Dame,1924,,
3,Ed Bartels,196,88,North Carolina State University,1925,,
4,Ralph Beard,178,79,University of Kentucky,1927,Hardinsburg,Kentucky
5,Gene Berce,180,79,Marquette University,1926,,
6,Charlie Black,196,90,University of Kansas,1921,Arco,Idaho
7,Nelson Bobb,183,77,Temple University,1924,Philadelphia,Pennsylvania
8,Jake Bornheimer,196,90,Muhlenberg College,1927,New Brunswick,New Jersey

In [ ]:
players_df = spark.read.option('header', True).option('inferSchema', True).csv("Players.csv")
players_df.printSchema()

root
 |-- _c0: integer (nullable = true)
 |-- Player: string (nullable = true)
 |-- height: integer (nullable = true)
 |-- weight: integer (nullable = true)
 |-- collage: string (nullable = true)
 |-- born: integer (nullable = true)
 |-- birth_city: string (nullable = true)
 |-- birth_state: string (nullable = true)

In [ ]:
players_df.show()

+---+----------------+------+------+--------------------+----+-------------+------------+
|_c0|          Player|height|weight|             collage|born|   birth_city| birth_state|
+---+----------------+------+------+--------------------+----+-------------+------------+
|  0| Curly Armstrong|   180|    77|  Indiana University|1918|         NULL|        NULL|
|  1|    Cliff Barker|   188|    83|University of Ken...|1921|     Yorktown|     Indiana|
|  2|   Leo Barnhorst|   193|    86|University of Not...|1924|         NULL|        NULL|
|  3|      Ed Bartels|   196|    88|North Carolina St...|1925|         NULL|        NULL|
|  4|     Ralph Beard|   178|    79|University of Ken...|1927|  Hardinsburg|    Kentucky|
|  5|      Gene Berce|   180|    79|Marquette University|1926|         NULL|        NULL|
|  6|   Charlie Black|   196|    90|University of Kansas|1921|         Arco|       Idaho|
|  7|     Nelson Bobb|   183|    77|   Temple University|1924| Philadelphia|Pennsylvania|
|  8| Jake Bornheimer|   196|    90|  Muhlenberg College|1927|New Brunswick|  New Jersey|
|  9|    Vince Boryla|   196|    95|University of Denver|1927| East Chicago|     Indiana|
| 10|       Don Boven|   193|    95|Western Michigan ...|1925|    Kalamazoo|    Michigan|
| 11|   Harry Boykoff|   208|   102|St. John's Univer...|1922|     Brooklyn|    New York|
| 12|     Joe Bradley|   190|    79|Oklahoma State Un...|1928|   Washington|    Oklahoma|
| 13|     Bob Brannum|   196|    97|Michigan State Un...|1925|         NULL|        NULL|
| 14|      Carl Braun|   196|    81|  Colgate University|1927|     Brooklyn|    New York|
| 15|   Frankie Brian|   185|    81|Louisiana State U...|1923|      Zachary|   Louisiana|
| 16|Price Brookfield|   193|    83|West Texas A&M Un...|1920|     Floydada|       Texas|
| 17|       Bob Brown|   193|    92|    Miami University|1923|   Versailles|        Ohio|
| 18|      Jim Browne|   208|   106|                NULL|1930|   Midlothian|    Illinois|
| 19|      Walt Budko|   196|    99| Columbia University|1925|      Kearney|  New Jersey|
+---+----------------+------+------+--------------------+----+-------------+------------+
only showing top 20 rows

#### 1Ô∏è‚É£. Qual a m√©dia de altura e de peso dos jogadores?

In [ ]:
from pyspark.sql.functions import col, mean, udf, round

In [ ]:
players_df.select(round(mean(col('height')/100), 2)).collect()[0][0]

1.99

In [ ]:
# Solu√ß√£o alternativa

from pyspark.sql.functions import mean, avg

players_df.select( avg( players_df['height'] ),  mean( players_df.weight )  ).show()

+------------------+-----------------+
|       avg(height)|      avg(weight)|
+------------------+-----------------+
|198.70492221372098|94.78321856669217|
+------------------+-----------------+

In [ ]:
players_df.agg( { 'height': 'avg', 'weight':'avg' } ).show()

+-----------------+------------------+
|      avg(weight)|       avg(height)|
+-----------------+------------------+
|94.78321856669217|198.70492221372098|
+-----------------+------------------+

In [ ]:
from pyspark.sql.functions import col, mean, udf

media_altura = df.select(round(mean(col('height')/100), 2)).collect()[0][0]
media_peso = df.select(round(mean(col('weight')), 2)).collect()[0][0]

print("""M√©dia de altura dos jogadores: {}m \nM√©dia de peso dos jogadores: {}kg
      """.format(media_altura, media_peso))